
		
<div id="wrap">
    <ul class="hiSlider hiSlider3">
		        <li class="hiSlider-item"><img src="/images/pics/banner_01.jpg" alt="11111"></li>
		        <li class="hiSlider-item"><img src="/images/pics/banner_02.jpg" alt="22222"></li>
		        <li class="hiSlider-item"><img src="/images/pics/banner_03.jpg" alt="33333"></li>
		        <li class="hiSlider-item"><img src="/images/pics/banner_04.jpg" alt="44444"></li>
		        <li class="hiSlider-item"><img src="/images/pics/banner_01.jpg" alt="55555"></li>
	</ul>
</div>
		
<link rel="stylesheet" type="text/css" href="<%=site.path%>/css/apps/cm_slideShow_01.css"/>

<style>
        li{
		    list-style: none;
		}
		li img{
		    display: block;
		    margin: 0 auto;
            width: 100%;
            height: 100%;
		}
		#wrap{
		    width: 100%;
            padding: 20px;
		    background: #fefefe;
		}
		.hiSlider{
		    overflow: hidden;
		    height: 593px;
		    width: 500px;
		    background: #eee;
		}
		.hiSlider-item{
		    float: left;
		    height: 593px;
            
		}

</style>