
<div class="cm_main">
    <ul class="row">
        <li class="cm_pc col-xs-12  cm_pr cm_c4c cm_ac4c cm_c6b">
            <h3 class="cm_pa cm_tl0 cm_hl3 cm_ml05">欢迎来到唯爱健康网</h3>
            <div class="col-xs-12  cm_pr cm_hl3">
                <ul class="cm_pa cm_tr0 cm_hl3">
                    <li class="cm_fl cm_ml02"><a href="#">手机版</a></li>
                    <li class="cm_fl">|</li>
                    <li class="cm_fl cm_ml02"><a href="#">微信公众号</a></li>
                    <li class="cm_fl">|</li>
                    <li class="cm_fl cm_ml02 ck_map"><a href="#">网站导航</a></li>
                    <li class="cm_fl cm_mrl02"><img class="cm_fl cm_wh1 cm_bs100 cm_mtb1" src="<%=site.path%>/images/project/open.png"/></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
<div class="cm_pc cm_main2 col-xs-12 ">
    <div class="col-xs-12  cm_pr">
        <img class="cm_fl cm_w100 cm_h4 cm_bs100" src="<%=site.path%>/images/icon.png"/>
    </div>
</div>
<div class="cm_main">
    <ul class="row">
        <li class="col-xs-12  cm_pr cm_mtb05">
            <div class="col-xs-12 col-sm-2 cm_prl05mob cm_pr">
                <div class="col-xs-6 col-sm-4  cm_pr">
                    <img class="cm_fl img_logo" src="<%=site.path%>/images/icon.png"/>
                </div>
                <div class="cm_mob col-xs-6  cm_pr">
                    <img class="cm_pa cm_tr0 cm_wh3 cm_bs100" src="<%=site.path%>/images/icon.png"/>
                </div>
            </div>
            <div class="cm_pc col-sm-10  cm_pr cm_mtb1">
                <div class="col-xs-6  cm_pr">
                    <ul class="col-xs-12  cm_pr">
                        <li class="col-xs-12 cm_pl0 cm_pr4 cm_pr">
                            <div class="col-xs-12  cm_pr cm_input cm_hl3 cm_bl1c5 cm_bt1c5 cm_bb1c5 cm_brtl02 cm_brbl02">
                                <input type="text" placeholder="请输入搜索关键字" class="cm_pl05 cm_pr3"/>
                            </div>
                        </li>
                        <li class="cm_pa cm_tr0 cm_w4 cm_h3 cm_c1b cm_brtr02 cm_brbr02" id="ck_soso"><img class="cm_wh2 cm_bs100 cm_fc cm_mt05" src="<%=site.path%>/images/icon.png"></li>
                    </ul>
                </div>
                <div class="col-xs-6  cm_pr">
                    <ul class="col-xs-12  cm_pr cm_lh3">
                        <li class="cm_fl cm_ml2"><a href="#"><span class="cm_fs08 cm_c1c">关键字一</span></a></li>
                        <li class="cm_fl cm_ml05"><span class="cm_fs08">关键字二</span></li>
                        <li class="cm_fl cm_ml05"><span class="cm_fs08">关键字三</span></li>
                        <li class="cm_fl cm_ml05"><span class="cm_fs08">关键字4</span></li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="cm_main2 col-xs-12  cm_lh3 cm_c1b cm_cf cm_tc">
    <div class="cm_main">
        <ul class="row">
            <li class="col-xs-12  cm_pr cm_afc">
                <span class="col-xs-m9 cm_hvc2b cm_c2b"><a href="<%=site.path%>/">首页</a></span>
                <span class="col-xs-m9 cm_hvc2b"><a href="<%=site.path%>/lxbj/">两性保健</a></span>
                <span class="col-xs-m9 cm_hvc2b">性教育</span>
                <span class="col-xs-m9 cm_hvc2b">两性心理</span>
                <span class="col-xs-m9 cm_hvc2b">夫妻生活</span>
                <span class="col-xs-m9 cm_hvc2b">怀孕宝典</span>
                <span class="col-xs-m9 cm_hvc2b">内涵恶搞</span>
                <span class="col-xs-m9 cm_hvc2b"><a href="<%=site.path%>/b/">百科</a></span>
                <span class="col-xs-m9 cm_hvc2b"><a href="<%=site.path%>/pics/">图库</a></span>
            </li>
        </ul>
    </div>
</div>
<div class="cm_main">
    <ul class="row">
        <li class="cm_pc col-xs-12  cm_pr cm_c4c cm_c6b cm_hl205">
            <h3 class="cm_pa cm_tl0 cm_ml05"><span class="cm_fs08">栏目推荐:</span></h3>
            <div class="col-xs-12 cm_pl5 cm_pr0 cm_pr">
                <ul class="col-xs-12 cm_p0 cm_pr">
                    <li class="cm_fl cm_ml1"><span class="cm_fs08">两性心理</span></li>
                    <li class="cm_fl cm_ml1"><span class="cm_fs08">两性心理</span></li>
                    <li class="cm_fl cm_ml1"><span class="cm_fs08">两性心理</span></li>
                    <li class="cm_fl cm_ml1"><span class="cm_fs08">两性心理</span></li>
                    <li class="cm_fl cm_ml1"><span class="cm_fs08">两性心理</span></li>
                    <li class="cm_fl cm_ml1"><span class="cm_fs08">两性心理</span></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
<style>
    .col-xs-m9{
        display: inline-block;
        float:left;
        margin: 0;
        width:11.11111%;
    }
    .col-xs-m9:first-child{
        margin: 0;
    }
    @media (max-width:768px){
        .col-xs-m9{
            width:auto;
            margin:0;
            padding:0 0.5em;
        }
    }
</style>