<div class="cm_main2 cm_minh8 cm_c3b cm_cf cm_afc">
    <div class="cm_main">
        <ul class="row">
            <li class="col-xs-12 cm_pr cm_hl3 cm_mt1">
                <ul class="cm_fc4 cm_pr">
                    <li class="cm_fl"><a href="<%=site.path%>">关于唯爱<span class="cm_pc">健康网</span></a></li>
                    <li class="cm_fl cm_mrl05">|</li>
                    <li class="cm_fl"><a href="#">联系我们</a></li>
                    <li class="cm_fl cm_mrl05">|</li>
                    <li class="cm_fl"><a href="#">免责声明</a></li>
                    <li class="cm_fl cm_mrl05 cm_pc">|</li>
                    <li class="cm_fl cm_pc"><a href="#">友情链接</a></li>
                    <li class="cm_fl cm_mrl05">|</li>
                    <li class="cm_fl"><a href="<%=site.path%>/sitemap.html">网站地图</a></li>
                </ul>
            </li>
            <li class="col-xs-12  cm_pr cm_minh5 cm_tc">中国第一两性健康网站 - vjiankang.com 版权所有 粤ICP备00000001号</li>
        </ul>
    </div>
</div>