<% include ../common/header.html %>
<div class="cm_main2">
    <div id="bc_head">
        <% include ../components/index_head.html %>
    </div>
    <div class="cm_main">
        <!--轮播图-->
        <div id="cm_slideShow">
            <% include ../components/cm_slideShow_01.html %>
        </div>
        
        <!--图片列表-->
        <div id='cm_picList'>
            <% include ../components/cm_picList.html %>
        </div>
        <!--分页-->
        <div id="cm_page">
            <% include ../components/cm_page.html %>
        </div>
    </div>
    <div id="bc_foot">
        <% include ../components/index_foot.html %>
    </div>
</div>

<script>
window.loadAction = [
    {name:'index_head',filename:'index_head',isFirst:1,path:'components/',type:'js'},
    {name:'hiSlider',filename:'jquery.hiSlider',isFirst:1,path:'components/',type:'js'},//轮播图
    {name:'pagination',filename:'jquery.pagination.min',isFirst:1,path:'components/',type:'js'},//分页
    {name:'img_index',filename:'img_index',isFirst:0,path:'single/',type:'js'}
];
</script>
<% include ../common/footer.html %>
