    <meta charset="utf-8">
    <meta name="keywords" content="<%=site.keywords%>">
    <meta name="description" content="<%=site.description%>">
    <meta name="author" content="womendi@qq.com" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes"  aid="删除苹果默认的工具栏和菜单栏"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"  aid="设置苹果工具栏颜色"/>
    <meta name="format-detection" content="telphone=no, email=no"  aid="忽略页面中的数字识别为电话，忽略email识别"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" aid="避免IE使用兼容模式">
    <meta name="HandheldFriendly" content="true" aid="不识别viewport的浏览器">
    <meta name="MobileOptimized" content="320" aid="微软的老式浏览器">
    <meta name="msapplication-tap-highlight" content="no" aid="windows phone 点击无高光">
    <meta name="renderer" content="webkit" aid="webkit">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">