<% include ../common/header.html %>
<div class="cm_main2">
	<div id="bc_head"><% include ../components/index_head.html %></div>
	<div class="cm_main cm_c6b">
		<ul class="row cm_prl05mob">
			<li class="col-xs-12 cm_pr">
				<div class="col-xs-12 col-sm-3 cm_bf img_slide_h cm_pr">
					<!-- Swiper -->
					<div class="swiper-container img_slide cm_pr">					
						<div class="swiper-wrapper cm_wh100">
							<div class="swiper-slide cm_wh100">
								<div class="cm_pr cm_wh100">
									<img class="cm_wh100" src="<%=site.path%>/images/icon.png"/>
									<span class="cm_pa cm_bl0 cm-z cm_w100 cm_hl2 cm_b0a05 cm_cf">标题11111111</span>
								</div>
							</div>
							<div class="swiper-slide cm_wh100">
								<div class="cm_pr cm_wh100">
									<img class="cm_wh100" src="<%=site.path%>/images/icon.png"/>
									<span class="cm_pa cm_bl0 cm-z cm_w100 cm_hl2 cm_b0a05 cm_cf">标题22222222</span>
								</div>
							</div>
							<div class="swiper-slide cm_wh100">
								<div class="cm_pr cm_wh100">
									<img class="cm_wh100" src="<%=site.path%>/images/icon.png"/>
									<span class="cm_pa cm_bl0 cm-z cm_w100 cm_hl2 cm_b0a05 cm_cf">标题33333333</span>
								</div>
							</div>
						</div>					
					</div>
					<!-- Swiper -->
				</div>
				<div class="col-xs-12 col-sm-5 cm_bf">
				    <div class="col-xs-12 cm_pr2mob toutiao_h cm_c6b cm_pr">
						<ul class="col-xs-12 cm_pr cm_bf cm_ac4c cm_c4c">
							<li class="col-xs-12 cm_pr cm_bb1ce">
								<h3 class="cm_fs15 cm_mtb1 cm_c3c cm_fwb">村野村野村野村野村野村野村野村野</h3>
							</li>
							<li class="col-xs-12 cm_pr cm_lh2">
								<div class="cm_fl"><a href="#"><span class="cm_fs09">村野村野村村野村野村野村野</span></a></div>
								<div class="cm_fl cm_mrl05">|</div>
								<div class="cm_fl"><a href="#"><span class="cm_fs09">村野村野村村野村野村野村野</span></a></div>
							</li>
							<li class="col-xs-12 cm_pr cm_lh2">
								<div class="cm_fl"><a href="#"><span class="cm_fs09">村野村野村村野村野村野村野</span></a></div>
								<div class="cm_fl cm_mrl05">|</div>
								<div class="cm_fl"><a href="#"><span class="cm_fs09">村野村野村村野村野村野村野</span></a></div>
							</li>
							<li class="col-xs-12 cm_pr cm_lh2">
								<div class="cm_fl"><a href="#"><span class="cm_fs09">村野村野村村野村野村野村野</span></a></div>
								<div class="cm_fl cm_mrl05">|</div>
								<div class="cm_fl"><a href="#"><span class="cm_fs09">村野村野村村野村野村野村野</span></a></div>
							</li>
						</ul>
						<ul class="col-xs-12 cm_pr cm_bf cm_ac4c cm_c4c">
							<li class="col-xs-12 cm_pr cm_bb1ce">
								<h3 class="cm_fs15 cm_mtb1 cm_c3c cm_fwb">村野村野村野村野村野村野村野村野</h3>
							</li>
							<li class="col-xs-12 cm_pr cm_lh2">
								<div class="cm_fl"><a href="#"><span class="cm_fs09">村野村野村村野村野村野村野</span></a></div>
								<div class="cm_fl cm_mrl05">|</div>
								<div class="cm_fl"><a href="#"><span class="cm_fs09">村野村野村村野村野村野村野</span></a></div>
							</li>
							<li class="col-xs-12 cm_pr cm_lh2">
								<div class="cm_fl"><a href="#"><span class="cm_fs09">村野村野村村野村野村野村野</span></a></div>
								<div class="cm_fl cm_mrl05">|</div>
								<div class="cm_fl"><a href="#"><span class="cm_fs09">村野村野村村野村野村野村野</span></a></div>
							</li>
							<li class="col-xs-12 cm_pr cm_lh2">
								<div class="cm_fl"><a href="#"><span class="cm_fs09">村野村野村村野村野村野村野</span></a></div>
								<div class="cm_fl cm_mrl05">|</div>
								<div class="cm_fl"><a href="#"><span class="cm_fs09">村野村野村村野村野村野村野</span></a></div>
							</li>
						</ul>
						
					</div>
					<div class="cm_pa cm_tr0 cm_w2 img_slide_h cm_c6b cm_z2 cm_pc"></div>
				</div>
				<div class="col-xs-12 col-sm-4 cm_bf">
					<ul class="col-xs-12 cm_pr toutiao_h">
					   <li class="col-xs-12 cm_pr cm_prl1">
						  <span class="cm_fl cm_fwb cm_hl2">|</span>
						  <span class="cm_fl cm_w5 cm_hl2 cm_ml1"><img class="cm_wh100 cm_bs100" src="<%=site.path%>/images/icon.png"/></span>
					   </li>
					   <li class="col-xs-12 cm_pr cm_prl1 cm_lh2 cm_mtb05">
							<span class="cm_fs13 cm_c7c cm_fwb">女生第一次女生第一次女生第一次</span>
					   </li>
					   <li class="col-xs-12 cm_pr cm_prl1">
							<div class="col-xs-12 cm_pr cm_c5c">
							    <img class="cm_pa cm_tl0 cm_z2 cm_w6 cm_h4 cm_bs100 cm_mb05" src="<%=site.path%>/images/icon.png"/>
							    <div class="col-xs-12 cm_pl605 cm_pr0 cm_pr cm_minh4 cm_mb05">
									<div class="col-xs-12 cm_pr cm_wb_b">
										<span class="cm_fs08 cm_c5c">女生第一次意味着什么女生第一次意味着什么女生第一次意味着什么</span><a class="cm_fs08 cm_c1c">[详细]</a>
									</div>										
								</div>
							</div>
					   </li>
					   <li class="col-xs-12 cm_pr cm_prl1">
							<ul class="col-xs-12 cm_pr cm_prl1 cm_lh2 cm_c7c cm_lids">
								<li class="col-xs-12 cm_pr">
									<a class="cm_fs09">女生第一次意味着什么女生第一次意味着什么</a>
								</li>
								<li class="col-xs-12 cm_pr">
									<a class="cm_fs09">女生第一次意味着什么女生第一次意味着什么</a>
								</li>
								<li class="col-xs-12 cm_pr">
									<a class="cm_fs09">女生第一次意味着什么女生第一次意味着什么</a>
								</li>
								<li class="col-xs-12 cm_pr">
									<a class="cm_fs09">女生第一次意味着什么女生第一次意味着什么</a>
								</li>
								<li class="col-xs-12 cm_pr">
									<a class="cm_fs09">女生第一次意味着什么女生第一次意味着什么</a>
								</li>
								<li class="col-xs-12 cm_pr">
									<a class="cm_fs09">女生第一次意味着什么女生第一次意味着什么</a>
								</li>
							</ul>
					   </li>					
					</ul>
				</div>			
			</li>
			<li class="col-xs-12 cm_pr cm_bk01 cm_bt3c1">
				<div class="col-xs-3 cm_hl3 cm_pl20px"><span class="cm_fs15 cm_cc01">两性保健</span></div>
				<div class="col-xs-9 cm_hl3 cm_pr20px">
						<ul class="cm_fr cm_pr cm_c4c">
							<li class="cm_fl"><a href="#" class="cm_fs08 cm_c4c">两性保健</a></li>
							<li class="cm_fl cm_mrl05">|</li>
							<li class="cm_fl"><a href="#" class="cm_fs08 cm_c4c">两性保健</a></li>
							<li class="cm_fl cm_mrl05">|</li>
							<li class="cm_fl"><a href="#" class="cm_fs08 cm_c4c">两性保健</a></li>
							<li class="cm_fl cm_mrl05">|</li>
							<li class="cm_fl"><a href="#" class="cm_fs08 cm_c4c">两性保健</a></li>
							<li class="cm_fl cm_mrl05">|</li>
							<li class="cm_fl"><a href="#" class="cm_fs08 cm_c4c">两性保健</a></li>
							<li class="cm_fl cm_mrl05">|</li>
							<li class="cm_fl"><a href="#" class="cm_fs08 cm_c1c">more</a></li>
						</ul>
				</div>		
			</li>
			<li class="col-xs-12 cm_pr cm_prl20pc cm_bf">
				<div class="col-xs-12 col-sm-3 cm_pr cm_pc">
					<div class="col-xs-12 cm_hl3"><span class="cm_fs12 cm_c7c">排行榜</span></div>
					<ul class="col-xs-12 cm_pr paihang_pr30 cm_mb1">
					    <% for(var i=0,k=1;i<list2.length;i++,k++){%>
							<li class="col-xs-12 cm_pr cm_bb1ce">
								<span class="cm_pa cm_tl0 cm_wh1 cm_hl1 cm_tc cm_mtb05 cm_br02 cm_c1b cm_cf"><span class="cm_fs07"><%=k%></span></span>
								<div class="col-xs-12 cm_pl105 cm_pr0 cm_pr cm_ts cm_hl2"><a href="#" class="cm_fs08 cm_c4c"><%=list2[i].name%></a></div>												
							</li>
						<%}%>			
					</ul>
					<div class="col-xs-12 cm_hl3"><span class="cm_w6 cm_hl105 cm_prl05 cm_br02 cm_c1b cm_cf cm_tc"><span class="cm_fs08">热门标签</span></span></div>
					<ul class="col-xs-12 cm_pr paihang_pr30 cm_mb1">
					    <% for(var i=0,k=1;i<list2.length;i++,k++){%>
							<li class="col-xs-12 cm_pr cm_bb1ce">
								<div class="col-xs-12 cm_pr cm_ts cm_hl2"><a href="#" class="cm_fs08 cm_c4c">标签1</a> <a href="#" class="cm_fs08 cm_c4c">两性保健标签2</a> <a href="#" class="cm_fs08 cm_c4c">标签3</a></div>												
							</li>
						<%}%>			
					</ul>
				</div>
				<div class="col-xs-12 col-sm-9">
				    <div class="col-xs-12 col-sm-6 cm_pr cm_pr1pc">
						 <ul class="col-xs-12 cm_hl3 cm_tc">
							  <li class="col-xs-20 cm_bb1c1"><a href="#" class="cm_c1c">两性保健</a></li>
							  <li class="col-xs-20"><a href="#" class="cm_c4c">两性保健</a></li>
							  <li class="col-xs-20"><a href="#" class="cm_c4c">两性保健</a></li>
							  <li class="col-xs-20"><a href="#" class="cm_c4c">两性保健</a></li>
							  <li class="col-xs-20"><a href="#" class="cm_c4c">两性保健</a></li>
						 </ul>
					</div>				
				    <div class="col-xs-12 col-sm-6 cm_pl1pc cm_c5b">2222</div>				
				</div>
				<div class="col-xs-12 col-sm-3 cm_pr cm_mob">
					<div class="col-xs-12 cm_hl3"><span class="cm_fs12 cm_c7c">排行榜</span></div>
					<ul class="col-xs-12 cm_pr paihang_pr30 cm_mb1">
						<% for(var i=0,k=1;i<list2.length;i++,k++){%>
							<li class="col-xs-12 cm_pr cm_bb1ce">
								<span class="cm_pa cm_tl0 cm_wh1 cm_hl1 cm_tc cm_mtb05 cm_br02 cm_c1b cm_cf"><span class="cm_fs07"><%=k%></span></span>
								<div class="col-xs-12 cm_pl105 cm_pr0 cm_pr cm_ts cm_hl2"><a href="#" class="cm_fs08 cm_c4c"><%=list2[i].name%></a></div>												
							</li>
						<%}%>			
					</ul>
					<div class="col-xs-12 cm_hl3"><span class="cm_w6 cm_hl105 cm_prl05 cm_br02 cm_c1b cm_cf cm_tc"><span class="cm_fs08">热门标签</span></span></div>
					<ul class="col-xs-12 cm_pr paihang_pr30 cm_mb1">
					    <% for(var i=0,k=1;i<list2.length;i++,k++){%>
							<li class="col-xs-12 cm_pr cm_bb1ce">
								<div class="col-xs-12 cm_pr cm_ts cm_hl2"><a href="#" class="cm_fs08 cm_c4c">标签1</a> <a href="#" class="cm_fs08 cm_c4c">两性保健标签2</a> <a href="#" class="cm_fs08 cm_c4c">标签3</a></div>												
							</li>
						<%}%>			
					</ul>
				</div>			
			</li>
		</ul>
	</div>
	<div class="cm_main2  cm_c3b cm_cf cm_afc">
		<div class="cm_main">
			<ul class="row">
				<li class="col-xs-12  cm_prl05mob cm_pr cm_h3 cm_mt1" id="foot_friend">
					<div class="cm_fl cm_fc4 cm_hl2 cm_prl05 cm_br02 cm_mt05 cm_b1c1 cm_c1c">
						<span class="cm_fs09">友情链接</span>
					</div>
					<div class="cm_fl cm_fc4 cm_hl2 cm_prl05 cm_br02 cm_mt05 cm_b1cf cm_c1f cm_ml05">
						<span class="cm_fs09">热门关注</span>
					</div>
				</li>
				<li class="col-xs-12  cm_pr cm_minh8" id="foot_friend_list">
					<div class="col-xs-12  cm_pr cm_lh2 cm_wb_b">
						<span class="cm_fl cm_cf">友情链接1</span>
						<span class="cm_fl cm_ml1 cm_cf">友情链接1</span>
						<span class="cm_fl cm_ml1 cm_cf">友情链接1</span>
						<span class="cm_fl cm_ml1 cm_cf">友情链接1</span>
						<span class="cm_fl cm_ml1 cm_cf">友情链接1</span>
						<span class="cm_fl cm_ml1 cm_cf">友情链接1</span>
						<span class="cm_fl cm_ml1 cm_cf">友情链接1</span>
						<span class="cm_fl cm_ml1 cm_cf">友情链接1</span>
						<span class="cm_fl cm_ml1 cm_cf">友情链接1</span>
						<span class="cm_fl cm_ml1 cm_cf">友情链接1</span>
						<span class="cm_fl cm_ml1 cm_cf">友情链接1</span>
						<span class="cm_fl cm_ml1 cm_cf">友情链接1</span>
						<span class="cm_fl cm_ml1 cm_cf">友情链接1</span>
						<span class="cm_fl cm_ml1 cm_cf">友情链接1</span>
						<span class="cm_fl cm_ml1 cm_cf">友情链接1</span>
						<span class="cm_fl cm_ml1 cm_cf">友情链接1</span>
						<span class="cm_fl cm_ml1 cm_cf">友情链接1</span>
						<span class="cm_fl cm_ml1 cm_cf">友情链接1</span>
						<span class="cm_fl cm_ml1 cm_cf">友情链接1</span>
						<span class="cm_fl cm_ml1 cm_cf">友情链接1</span>
						<span class="cm_fl cm_ml1 cm_cf">友情链接1</span>
						<span class="cm_fl cm_ml1 cm_cf">友情链接1</span>
						<span class="cm_fl cm_ml1 cm_cf">友情链接1</span>
						<span class="cm_fl cm_ml1 cm_cf">友情链接1</span>
						<span class="cm_fl cm_ml1 cm_cf">友情链接1</span>
						<span class="cm_fl cm_ml1 cm_cf">友情链接1</span>
					</div>
					<div class="col-xs-12  cm_pr cm_lh2 cm_wb_b cm_dn">
						<span class="cm_fl cm_cf">热门关注</span>
						<span class="cm_fl cm_ml1 cm_cf">热门关注</span>
						<span class="cm_fl cm_ml1 cm_cf">热门关注</span>
						<span class="cm_fl cm_ml1 cm_cf">热门关注</span>
						<span class="cm_fl cm_ml1 cm_cf">热门关注</span>
						<span class="cm_fl cm_ml1 cm_cf">热门关注</span>
						<span class="cm_fl cm_ml1 cm_cf">热门关注</span>
						<span class="cm_fl cm_ml1 cm_cf">热门关注</span>
						<span class="cm_fl cm_ml1 cm_cf">热门关注</span>
						<span class="cm_fl cm_ml1 cm_cf">热门关注</span>
						<span class="cm_fl cm_ml1 cm_cf">热门关注</span>
						<span class="cm_fl cm_ml1 cm_cf">热门关注</span>
						<span class="cm_fl cm_ml1 cm_cf">热门关注</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div id="bc_foot"><% include ../components/index_foot.html %></div>
</div>
<link rel="stylesheet" href="<%=site.path%>/js/jqplugin/swiper-3.4.2.min.css">
<script>
	//定义本html中的数据控制器js,所有操作都在js中进行
//name名称
//type为文件类型,
//path为views_actions文件夹下的路径（index/对应views_actions中index文件夹）,
//filename为path='index/'中index文件夹下的index.js,为index.js的文件名index
//isFirst=1时优先加载,只要是公共组件就必须设置为1
window.loadAction = [
    {name:'index_head',filename:'index_head',isFirst:1,path:'components/',type:'js'},
    {name:'swiper',filename:'swiper-3.4.2.jquery.min',isFirst:1,path:'js/jqplugin/',type:'js'},
    {name:'index_index',filename:'index_index',isFirst:0,path:'single/',type:'js'}
];
</script>
<% include ../common/footer.html %>