<% include ../common/header.html %>
<div class="cm_main">
        <ul class="row">
            <li class="col-xs-12 cm_pd0 cm_pr cm_c4c cm_pc">
                <h3 class="cm_pa cm_tl0 cm_hl3 cm_ml05">欢迎来到唯爱健康网</h3>
                <div class="col-xs-12 cm_pd0 cm_pr cm_hl3">
                    <ul class="cm_pa cm_tr0 cm_hl3">
                        <li class="cm_fl cm_ml02">手机版</li>
                        <li class="cm_fl">|</li>
                        <li class="cm_fl cm_ml02">微信公众号</li>
                        <li class="cm_fl">|</li>
                        <li class="cm_fl cm_ml02 ck_map">网站导航</li>
                    </ul>
                </div>
                <div class="col-xs-12 cm_pd0 cm_pr">
                    <img class="cm_fl cm_w100 cm_h8 cm_bs100" src="<%=site.path%>/images/icon.png"/>
                </div>
            </li>
            <li class="col-xs-12 cm_pd0 cm_pr cm_mtb05">
                <div class="col-xs-12 col-sm-4 cm_pd0 cm_pr">
                    <div class="col-xs-6 col-sm-4 cm_pd0 cm_pr">
                        <img class="cm_fl img_logo" src="<%=site.path%>/images/icon.png"/>
                    </div>
                    <div class="col-xs-6 cm_pd0 cm_pr cm_mob">
                        <img class="cm_pa cm_tr0 cm_wh3 cm_bs100" src="<%=site.path%>/images/icon.png"/>
                    </div>
                </div>
                <div class="col-sm-8 cm_pd0 cm_pr cm_pc">
                    <div class="col-xs-6 cm_pd0 cm_pr">
                        <ul class="col-xs-12 cm_pd0 cm_pr">
                            <li class="col-xs-12 cm_pd0 cm_pr cm_input cm_b1c5 cm_hl3 cm_br02">
                                <input type="text" placeholder="请输入搜索关键字" class="cm_pl05 cm_pr3"/>
                                <img class="cm_pa cm_tr0 cm_wh2 cm_bs100 cm_m05" src="<%=site.path%>/images/icon.png"/>
                            </li>
                            <li class="col-xs-12 cm_pd0 cm_pr cm_lh2">
                                <span class="cm_fl">关键字一</span>
                                <span class="cm_fl cm_ml05">关键字二</span>
                                <span class="cm_fl cm_ml05">关键字三</span>
                            </li>
                        </ul>
                    </div>
                    <ul class="cm_pa cm_tr0 cm_tc">
                        <li class="cm_fl cm_w5">
                            <img class="cm_fc cm_wh3 cm_bs100" src="<%=site.path%>/images/icon.png"/>
                            <div class="cm_fc cm_w5 cm_hl2"><span class="cm_fs09 cm_c4c">手机版</span></div>
                        </li>
                        <li class="cm_fl cm_w5">
                            <img class="cm_fc cm_wh3 cm_bs100" src="<%=site.path%>/images/icon.png"/>
                            <div class="cm_fc cm_w5 cm_hl2"><span class="cm_fs09 cm_c4c">微信公众号</span></div>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="col-xs-12 cm_pd0 cm_pr cm_mb05">
                <div class="col-xs-12 col-sm-4 cm_hl3 cm_c1b cm_pc">123</div>
                <div class="col-xs-12 col-sm-8 cm_hl3 cm_c2b">456</div>
                <div class="col-xs-12 col-sm-4 cm_hl3 cm_c1b cm_mob">789</div>			
            </li>
            <li class="col-xs-12 cm_pd0 cm_pr cm_hl3 cm_dn cm_mb05">path=<%=path%></li>
            <li class="col-xs-12 cm_pd0 cm_pr cm_hl3" id="test">
               <div class="col-xs-6 cm_pr cm_hl3 cm_c1b cm_cf">horizonal1</div>
               <div class="col-xs-6 cm_pr cm_hl3 cm_be">horizonal2</div>
            </li>
            <li class="col-xs-12 cm_pd0 cm_pr cm_mtb2">
                <div class="cm_fc cm_w6 cm_hl3 cm_be cm_c4c cm_tc cm_bs02c" id="cmqd">登陆</div>
            </li>
           <li class="col-xs-12 cm_pd0 cm_pr">
               <div class="col-xs-12 col-sm-8 cm_pd0 cm_pr">
                   <div class="col-xs-12 col-sm-6 cm_c1b cm_cf cm_hl3">通用</div>
                   <div class="col-xs-12 col-sm-6 cm_c4b cm_hl3">222222</div>
               </div>
               <div class="col-xs-12 col-sm-4 cm_pd0 cm_pr">
                   <div class="col-xs-12 cm_c3b cm_cf cm_hl3">333</div>			
               </div>
           </li>
        </ul>
        <div class="row cm_pr" id="footer01_div"></div>
    </div>
<script>
window.loadAction = [
    {name:'index_search',filename:'index_search',isFirst:0,path:'single/',type:'js'}
];
</script>
<% include ../common/footer.html %>